html {
	background-color:rgba(100,100,100,0.9);
}

input {
	background-color:khaki
}

p {
	margin: 0;
}

#time_tracker {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:10000;
	font-family:'Arvo',Ubuntu,Arial,'libra sans',sans-serif;
	font-size:12px;
}


#time_tracker_expand {
	position:fixed;
	top:0;
	right:0;
	z-index:10001;
}

#time_tracker #centre_container {
	margin: 20px auto;
	width: 70%;
	border-radius: 15px;
	background-color: white;
	box-shadow: 2px 5px 5px 5px #666;
	border: 2px solid #666;
	padding:30px;
}
@media screen and (max-width: 640px) {
	#time_tracker #centre_container {
		margin: 0;
		border: none;
		padding: 0;
		width: 100%;
		border-radius: 0;
		font-size: 0.5cm;
	}


}

#time_tracker #new_project_name {
	clear:left;
	border:none;
	border-radius:10px;
	outline:none;
	font-size:2em;
	padding:10px;
	margin-right: 15px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

#time_tracker_controls {
	clear:both;
}

#time_tracker button {
	cursor:pointer;
}

#time_tracker .projects_date_container {
	margin-bottom:20px;
	color:#000;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#time_tracker .projects_date_container h3 {
	/*background-image: url('web/arrow.png');*/
	/*background-position: center left;*/
	background-repeat: no-repeat;
	cursor:pointer;
	margin:0;
	padding:10px 10px 10px 30px;
	color:white;
}

/*
 *  Gradient backgrounds
 */
#time_tracker .projects_date_container h3 {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #000000));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #666 0%, #000000 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #FFFFFF 0%, #000000 100%);
}

#time_tracker .projects_date_container.expanded h3 {
	/*background-image: url(http://localhost/web/arrow_down.png);*/
}

#time_tracker .project {
	line-height:1.5em;
	padding:8px;
	border-bottom: 1px solid #ccc;
}

#time_tracker .project:hover {
	background-color:#FFA07A;
}

#time_tracker .project .name {
	max-width:200px;
	display:block;
	float:left;
	width: 30%
}

#time_tracker .project .time {
	display:block;
	float:left;
	text-align:center;
	line-height: 2em;
	width: 6em;
}

#time_tracker .project button {
	float:left;
	width:30px;
	margin:0;
	padding:0;
}

#time_tracker .project button.time_button {
	color:#FFF;
	font-weight:bolder;
	background-color:#6495ED;
	border:none;
	outline:none;
	padding:5px;
}

#time_tracker .project button.time_button.subtract_time {
	border-radius:5px 0 0 5px;
}

#time_tracker .project button.time_button.add_time {
	border-radius:0 5px 5px 0;
}

#time_tracker .project button.remove_project {
	outline:none;
	float:right;
	background-image:url(http://img4.wikia.nocookie.net/__cb20130213200639/destiny2579/images/b/b1/Delete_Icon.png);
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center left;
	color:#9ACD32;
	font-weight:700;
	border:none;
	width:30px;
	height:30px;
	background-color:inherit;
}

#time_tracker .project button.remove_project span {
	display: none;
}

#time_tracker .project .project_controls {
	float:left;
	border-radius:5px;
	background-color:khaki;
	line-height:2em;
}

#time_tracker #time_tracker_controls {
	position:relative;
}

#time_tracker #add_project {
	outline:none;
	width:60px;
	height:60px;
	border-radius:30px;
	background-color:#9ACD32;
	vertical-align:middle;
	border:none;
	color:#FFF;
	font-weight:700;
	box-shadow: 0px 0px 1px 1px #666;
	padding: 0;
	margin: 0;
}

#time_tracker #add_project span {
	font-size:4em;
}


#time_tracker #add_project:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

#time_tracker #clear_projects {
	display:block;
	text-decoration:underline;
	color:#CD853F;
	font-weight:700;
	outline:none;
	background:none;
	border:none;
}

#time_tracker .msg {
	position:absolute;
	top:-120px;
	left:300px;
	background:#FFCE48;
	-webkit-border-radius:27px;
	-moz-border-radius:27px;
	border-radius:27px;
	padding:15px;
}

#time_tracker .msg.success {
	border:solid 7px #6ACE7F;
}

#time_tracker .msg.error {
	border:solid 7px red;
}

#time_tracker .msg:after {
	content:"";
	position:absolute;
	display:block;
	width:0;
	z-index:1;
	margin-left:-8px;
	bottom:-22px;
	left:20%;
	border-color:#FFCE48 transparent;
	border-style:solid;
	border-width:22px 8px 0;
}

#time_tracker .msg:before {
	content:"";
	position:absolute;
	display:block;
	width:0;
	z-index:0;
	margin-left:-14px;
	bottom:-35px;
	left:20%;
	border-color:#6ACE7F transparent;
	border-style:solid;
	border-width:28px 14px 0;
}

#time_tracker .msg span {
	display:block;
	background-image:url(http://icons.iconarchive.com/icons/gakuseisean/ivista-2/256/Alarm-Tick-icon.png);
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center left;
	color:#9ACD32;
	font-weight:700;
	padding:20px 20px 20px 40px;
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

html[xmlns] .clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

